@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import "status-bar.css";
@import "header.css";
@import "friend.css";

body {
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family:'Hurricane', cursive;
}

a {
    color: inherit;
    text-decoration: none;
}