@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import "status-bar.css";
@import "header.css";
@import "friend.css";
@import "nav-bar.css";
@import "chat.css";

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family:'Hurricane', cursive;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: none;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

main {
    animation: fadeIn .5s ease-in-out;
}